.idea-form-wrapper {
  text-align: center;
  max-width: 400px;
  margin: 12px auto;
}


.add-idea {
  font-size: 1.4em;
  padding: 10px 20px 10px 10px;
  border-radius: 2em;

  svg {
    margin: 0 10px 0 0;
  }
}
